
body {
    background:  hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    
  }



h1 , h2{
    margin:auto;
    text-align: center;
    color: black;
}


.container{
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0 auto;
    width: 20rem;
    height: 20rem;
    /* background-color: #fff; */
    border-radius: 0.25rem;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1)
}


.btn{
    color: #222;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 8rem;
    font-size: larger;
    margin:50px auto 0 auto;
}

.btn:hover {
    color: #fff;
    background: rgb(46, 42, 42);
  }

    
    .container2{
        display: bl;
        flex-direction: column;
        margin: 3rem auto 0 auto;
        width: 20rem;
        height: 20rem;
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1)
    }


   .div {
       display: flex;
       flex-direction:  row;
   }

   li{
      font-weight: bold;
       font-size: larger;
   }